footer
  .l-container
    .l-footer 
      .l-footer-top
        //- Footer Top Left
        .l-footer-left 
          .l-footer__left-block__links 
            ul.menu.l-footer__left-block__links-row(data-accordion-menu)
              li
                a.l-footer__left-link(href="#") О ВУЗе
                  .l-footer__left_icon
                    include ./icons/footer_open_link.svg
                ul.menu
                  li
                    a.footer__left-menu__link(href="#") Сведения об образовательной организации
                    a.footer__left-menu__link(href="#") Структура управления образовательной организацией
                    a.footer__left-menu__link(href="#") Документы
                    a.footer__left-menu__link(href="#") Образование
                    a.footer__left-menu__link(href="#") Образовательные стандарты
                    a.footer__left-menu__link(href="#") Руководство
                    a.footer__left-menu__link(href="#") Материально-техническое обеспечение и оснащенность образовательного процесса 
                    a.footer__left-menu__link(href="#") Стипендии и иные виды материальной поддержки
                    a.footer__left-menu__link(href="#") Платные образовательные услуги
                    a.footer__left-menu__link(href="#") Финансово-хозяйственная деятельность
                    a.footer__left-menu__link(href="#") Вакантные места для приема (перевода)
                    a.footer__left-menu__link(href="#") Учебный процесс
                    a.footer__left-menu__link(href="#") Трудоустройство выпускников
                    a.footer__left-menu__link(href="#") Информация для инвалидов и лиц с ограниченными возможностями здоровья (ОВЗ)
                    a.footer__left-menu__link(href="#") Информация о среднемесячной заработной платы руководителей и их заместителей за 2020 год
                    a.footer__left-menu__link(href="#") Новости
                    a.footer__left-menu__link(href="#") Объявления
                    a.footer__left-menu__link(href="#") Колонка ректора
                    a.footer__left-menu__link(href="#") История
                    a.footer__left-menu__link(href="#") Галерея
                    a.footer__left-menu__link(href="#") Международное сотрудничество
              li
                a.l-footer__left-link(href="#") Обучающимся
                  .l-footer__left_icon
                    include ./icons/footer_open_link.svg
                ul.menu
                  li
                    a.footer__left-menu__link(href="#") Расписание
                    a.footer__left-menu__link(href="#") Сетевой город (Школа)
                    a.footer__left-menu__link(href="#") Сетевой город (СПО)
                    a.footer__left-menu__link(href="#") Электронные учебники
                    a.footer__left-menu__link(href="#") Общежития и коттеджи
                    a.footer__left-menu__link(href="#") Студенческая газета «Музыкальные новости»
                    a.footer__left-menu__link(href="#") Научная библиотека
                    a.footer__left-menu__link(href="#") Правила внутреннего распорядка обучающихся
                    a.footer__left-menu__link(href="#") Научно-исследовательская и творческая работа студентов
                    a.footer__left-menu__link(href="#") Оказание помощи
                    a.footer__left-menu__link(href="#") Лауреаты и дипломанты международных конкурсов
                    a.footer__left-menu__link(href="#") Информация о переводе, восстановления и отчисления

              li
                a.l-footer__left-link(href="#") Обращения
                  .l-footer__left_icon
                    include ./icons/footer_open_link.svg
                ul.menu
                  li
                    a.footer__left-menu__link(href="#") Отправить письмо
                    a.footer__left-menu__link(href="#") Информация о рассмотрении обращений
                                
            ul.menu.l-footer__left-block__links-row(data-accordion-menu)
              li
                a.l-footer__left-link(href="#") Абитуриентам
                  .l-footer__left_icon
                    include ./icons/footer_open_link.svg
                ul.menu
                  li
                    a.footer__left-menu__link(href="#") Поступи онлайн
                    a.footer__left-menu__link(href="#") Приемная комиссия
                    a.footer__left-menu__link(href="#") Документы и справки
                    a.footer__left-menu__link(href="#") Информация о результатах приема
                    a.footer__left-menu__link(href="#") Галерея
              li
                a.l-footer__left-link(href="#") Сотрудникам
                  .l-footer__left_icon
                    include ./icons/footer_open_link.svg
                ul.menu
                  li
                    a.footer__left-menu__link(href="#") Ученый совет
                    a.footer__left-menu__link(href="#") Повышение квалификации
                    a.footer__left-menu__link(href="#") Документы
                    a.footer__left-menu__link(href="#") Профком сотрудников
              li
                a.l-footer__left-link(href="#") Коронавирус
                  .l-footer__left_icon
                    include ./icons/footer_open_link.svg
                ul.menu
                  li
                    a.footer__left-menu__link(href="#") Информация
                    a.footer__left-menu__link(href="#") Документы
                  
          .l-footer-left__bottom
            button(onclick="" type='button' class='l-footer-button' value="") Отправить обращение
            .l-footer-left__bottom-info
                .l-footer-left__bottom__info-links
                  a.bottom__info-icon(href="#")
                    include ./icons/footer_info.svg 
                    span.bottom__info-text Сведения об образовательной организации
                a(href="#") Политика конфиденциальности
                
        //- Footer Top Right      
        .l-footer-right
          .l-footer__right-contacts
            include ./icons/footer_contact_icon.svg
            span.l-footer__right__contacts-title Контакты
          .l-footer__right-info
            span 677000, Россия, г. Якутск, ш.Покровское, 16км, д. 2
            br
            span +7 (999) 299-14-41
            span 9:00 до 20:00, Пн-Пт
          .l-footer__right-links 
            a.icon-instagram(href="#")
              include ./icons/footer_inst.svg
            a.icon-2gis(href="#")
              include ./icons/footer_2gis.svg
            a.icon-whatsapp(href="#")
              include ./icons/footer_whatsapp.svg
            a.icon-telegram(href="#")
              include ./icons/footer_telegram.svg
            a.icon-vk(href="#")
              include ./icons/footer_vk.svg
            a.icon-twitter(href="#")
              include ./icons/footer_twitter.svg
              
      //- Footer Bottom
      .l-footer-bottom
        .l-footer__bottom-copyright
          span © «Высшая школа музыки Республики Саха (Якутия)
        .l-footer__bottom-developed
          a.l-footer__bottom__developed-link(href="#")
            span.l-footer__bottom__developed-text Разработано в
            include ./icons/footer_logo.svg
            

            
         
