.l-interaction__language
  ul.dropdown.menu(data-dropdown-menu='')
    li
      a(href='#')
        img(src="./images/language/rus.png")
        span Рус
      ul.menu
        li
          a(href='#') Eng
        li
          a(href='#') Chn
